body {
  margin: 0;
  width: auto;
  height: auto;
  background-color: white;
  color: black;
  font-size: 17px;
}

main {
  min-height: 800px;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 50px;
  margin-bottom: 40px;
}

nav {
  background-color: #00C3A5;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  min-height: 40px;
  line-height: 200%;
}

.menu > li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dashed #0a2b42;
}

.menu > li:first-child {
  border-left: 1px dashed #0a2b42;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: #0a2b42;
}

footer {
  background-color: #00C3A5;
  text-align: center;
  float: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

header {
  background-color: #00C3A5;
}
