<div *ngIf="this.doctorSpecializations">
  <h1>Witaj na stronie glownej</h1>

  <h5>Znajdz lekarza (podaj specializacje)</h5>
  <div>
    <app-specialization-field [doctorSpecializations]="doctorSpecializations"
                              (specializationEvent)="setSpecialization($event)"></app-specialization-field>
    <button (click)="searchDoctors(this.specialization) ">Szukaj</button>
  </div>

  <div class="not-found-message">{{this.notFoundMessage}}</div>

  <app-item [doctors]="doctors"></app-item>

</div>
