div
{
  margin-top: 10px;
  text-align: center;
}

.form-control {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  margin-bottom: 10px;
}

.not-found-message {
  color: red;
}
