<div *ngIf="isDataAvailable">
  <h1>Witaj na stronie glownej</h1>

  <h5>Znajdz lekarza (podaj specializacje)</h5>
  <div>
    <label for="typeahead-focus"></label>
    <input
      id="typeahead-focus"
      type="text"
      class="form-control"
      [ngbTypeahead]="search"
      (focus)="focus$.next($any($event).target.value)"
      (click)="click$.next($any($event).target.value)"
      #instance="ngbTypeahead"
      #mySpecialization
    />
    <button (click)="searchDoctors(mySpecialization)">Szukaj</button>
  </div>

  <div class="not-found-message">{{this.notFoundMessage}}</div>

  <app-item [doctors]="doctors"></app-item>

</div>
