<form (ngSubmit)="register(formData,patient)" #formData="ngForm">
  <h1>Zarejestruj sie</h1>
  <div>
    <div class="radioButton">
      <label>
        <input type="radio" value="patient" name="person" #patient checked>Patient
      </label>
      <label>
        <input type="radio" value="doctor" name="person" #doctor>Doctor
      </label>
    </div>

    <div class="inputButton">
      <label>Email</label>
      <input ngModel type="email" #email="ngModel" name="email" email required>
      <div *ngIf="!email.valid && email.dirty">Pole wymagane!</div>

    </div>

    <div class="inputButton">
      <label>Hasło</label>
      <input ngModel type="password" #password="ngModel" name="password" required>
      <div *ngIf="!password.valid && password.dirty">Pole wymagane!</div>

    </div>

    <div class="inputButton">
      <label>Imię</label>
      <input ngModel type="text" name="firstName" required>
    </div>

    <div class="inputButton">
      <label>Nazwisko</label>
      <input ngModel type="text" name="lastName" required>
    </div>

    <div class="inputButton">
      <label>Numer telefonu</label>
      <input ngModel type="tel" name="phoneNumber" required>
    </div>

    <div class="inputButton" *ngIf="doctor.checked == true">
      <label>Specializacja</label>
<!--      <input ngModel type="text" name="specialization" required>-->
      <app-specialization-field></app-specialization-field>
    </div>

    <div class="inputButton" *ngIf="doctor.checked == true">
      <label>Miejsce</label>
      <input ngModel type="text" name="place" required>
    </div>

    <div class="registerButton">
      <button type="submit" [disabled]="formData.invalid">Zarejestruj</button>
    </div>
  </div>

</form>

<div class="error-message">{{this.errorMessage}}</div>
