form
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.radioButton label{
  margin-left: 10px;
  margin-right: 10px;
}

h1
{
  margin-top: 30px;
}

.inputButton
{
  margin-top: 5px;
  margin-bottom: 5px;

}

.inputButton > label
{
  width: 150px;
  text-align: left;
}

.error-message {
  text-align: center;
  color: red;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}
