<form (ngSubmit)="register(patient)" #formData="ngForm">
  <h1>Zarejestruj sie</h1>
  <div>
    <div class="radioButton">
      <label>
        <input type="radio" value="patient" name="person" #patient [checked]="true" (change)="handleChange($event)"> Patient
      </label>
      <label>
        <input type="radio" value="doctor" name="person" #doctor (change)="handleChange($event)"> Doctor
      </label>
    </div>

    <div class="inputButton">
      <label>Email</label>
      <input ngModel type="email" #email="ngModel" name="email" email required>
      <div class="error-message" *ngIf="!email.valid && email.touched">Niepoprawna struktura emaila!</div>

    </div>

    <div class="inputButton">
      <label>Hasło</label>
      <input ngModel type="password" #password="ngModel" name="password" passwordValidator>
      <div class="error-message" *ngIf="password.touched && password.errors">Hasło musi mieć conajmniej 3 znaki!</div>

    </div>

    <div class="inputButton">
      <label>Imię</label>
      <input ngModel type="text" name="firstName" required>
    </div>

    <div class="inputButton">
      <label>Nazwisko</label>
      <input ngModel type="text" name="lastName" required>
    </div>

    <div class="inputButton">
      <label>Numer telefonu</label>
      <input ngModel type="tel" name="phoneNumber" required>
    </div>

    <div class="inputButton" *ngIf="doctor.checked">
      <label>Specializacja</label>
      <input ngModel type="text" name="specialization" required>
    </div>

<!--    <div class="inputButton" *ngIf="doctor.checked">-->
<!--      <label>Miejsce</label>-->
<!--      <input ngModel type="text" name="place" required>-->
<!--    </div>-->

    <div class="registerButton">
      <button type="submit" [disabled]="formData.invalid">Zarejestruj</button>
    </div>
  </div>

</form>

<div class="error-message">{{this.errorMessage}}</div>
