.btn btn-lg btn-outline-primary {
  text-align: center;
  background-color: #dddddd;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.inputButton {
  margin-top: 5px;
  margin-bottom: 5px;
}

.inputButton > label {
  width: 150px;
  text-align: left;
}

.btn {

}

.btn-lg {

}

.btn-outline-primary {
  border-color: #00C3A5;
  color: #00C3A5;
}

