form
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

h1
{
  padding-top: 100px;
}

.logPanel
{
  margin-top: 20px;
}

.inputButton
{
  margin-bottom: 10px;
}

.radioButton
{
  margin-bottom: 10px;
}

h5
{
  margin-top: 20px;
}



